#submit-buttons {
	max-width: 500px;
}

.container {
	text-align: center;
}

#number-history {
	max-width: 200px;
}

.btn {
	opacity: .5;
}

.input-group {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
}

.rem-attempts {
	max-width: 125px;
	margin-left: auto;
	margin-right: auto;
}
.form-group {
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

#play-area {
	padding-bottom: 10px; 
}

#win {
	display: none;
	height: 300px;
	width: 300px;
}
#lose {
	display: none;
	height: 300px;	
	width: 400px;
}